# KTOR SERVER
PORT=

# APPIUM SETTINGS
# Подключение к серверу и устройству
APPIUM_SERVER_URL=
APPIUM_DEVICE_NAME=
APPIUM_UDID=
APPIUM_PLATFORM_VERSION=

# Настройки приложения
APPIUM_APP_PACKAGE=
APPIUM_APP_ACTIVITY=

# Таймауты
APPIUM_NEW_COMMAND_TIMEOUT_SECONDS=
APPIUM_IMPLICIT_WAIT_SECONDS=
APPIUM_ADB_EXEC_TIMEOUT_SECONDS=

# ADB
APPIUM_AUTO_CONNECT_ADB=
ADB_PATH=

# DATABASE SETTINGS (VIBER)
VIBER_DB_PATH=
VIBER_DB_QUERY_TIMEOUT_SECONDS=

# SUPABASE SETTINGS
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# RABBITMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=viber
RABBITMQ_PASS=viber_secret
RABBITMQ_URL=amqp://viber:viber_secret@rabbitmq:5672